{% extends 'base.html' %}
{% block content %}
    

<div class="container">
    
			
		</div>
<div class="row">
        <div>
			<div class="row">
				<div class="letters col l1 m1 s1">
					<a class="blue-grey-text" href="{{url_for('filter_letters', letter='A')}}">A</a>
				</div>
                <div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="{{url_for('filter_letters', letter='B')}}">B</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="{{url_for('filter_letters', letter='C')}}">C</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="{{url_for('filter_letters', letter='D')}}">D</a>
				</div>
				<div class="letters col l1 m1 l1 center">
					<a class="blue-grey-text" href="{{url_for('filter_letters', letter='E')}}">E</a>
				</div>
			</div>
        </div>
    <div class="col s9">
    
      </div>
		
		
		{% for terms in terms|sort(attribute='term') %}
		<div class="row">
			<div class="col s12 m6">
              
				<div class="card indigo lighten-5">
					<div>
						<span class="card-title term"><strong>{{terms.term}}</strong></span>
					</div>
                    <div>
			            
                    </div>
                    
					<div class="card-content indigo-text">
						<p><span>
		                    {{terms.definition}}
		                </span></p>
						<p><span>
		                    Speciality - {{terms.speciality_name}}
		                </span></p>
					</div>
					<div class="card-action">
						<a href="{{url_for('edit_word', terms_id=terms._id)}}"
							class="waves-effect waves-light btn-floating btn_small grey darken-1"><i class="material-icons">edit</i></a>
						<a href="{{url_for('delete_word', terms_id=terms._id)}}"
							class="waves-effect waves-light btn-floating btn_small red darken-4"><i class="material-icons">delete</i></a>
					</div>
				</div>
            </div>    
		</div>
            {% endfor %}
 </div>    
		
		
		
    
{% endblock %}