
{% extends 'base.html' %} {% block content%}

<div class="index_background">
	
<div>
	<div class="row">
		<h2 class="col white-text text center text_welcome">Welcome to Medical Term Dictionary</h2>
	</div>
</div>

<div class="row">
	<h4 class="center white-text index_start_text text">Get started here</h4>
    <div class="search_button_homepage">
		<a href="{{url_for('search')}}"
						class="waves-effect waves-light btn hoverable col s2 offset-s5 indigo darken-3">Search</a>
	</div>
	
</div>


{% endblock %}