

{% extends 'base.html' %}
{% block content %}

<h3>Search the Dictionary</h3>

<div class="row">
    <form action="{{ url_for('search_term') }}" method="POST" class="col s12">
        <div class="row">
            
            <div class="input-field col s12">
                <i class="material-icons prefix">menu_book</i>
                <input id="search_term" name="search_term" type="text" class="validate">
                <label for="icon_prefix"> Enter Medical Term</label>
            </div>
        </div>

        <div class="row individual-page-footer">
            <button class="btn waves-effect waves-light green darken-4 btn-floating btn_small" type="submit" name="action">
            <i class="material-icons right">search</i></a>    
             </button>
             <button class="btn waves-effect waves-light red darken-4 btn-floating btn_small" type="reset" name="action">
            <i class="material-icons right">close</i></a>    
             </button>
        </div>
    </form>
</div>



		
    
{% endblock %}