{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="container">
			<div class="row">
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EA">A</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EB">B</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EC">C</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5ED">D</a>
				</div>
				<div class="letters col l1 m1 l1 center">
					<a class="blue-grey-text" href="/get_letter/%5EE">E</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EF">F</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EG">G</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EH">H</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EI">I</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EJ">J</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EK">K</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EL">L</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EM">M</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EN">N</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EO">O</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EP">P</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EQ">Q</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5ER">R</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5ES">S</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5ET">T</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EU">U</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EV">V</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EW">W</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EX">X</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EY">Y</a>
				</div>
				<div class="letters col l1 m1 s1 center">
					<a class="blue-grey-text" href="/get_letter/%5EZ">Z</a>
				</div>
			</div>
		</div>
		

<h3>Results</h3>


<ul>
{% for term in terms|sort(attribute='terms', case_sensitive=false) %}
      
      <div class="row featurette">
             <ul class="collapsible" data-collapsible="accordion">
        
        
        <li>
            <h4> {{terms.term}} </h4> 
            
                <div class=" word_header col s9">
                    <strong>{{term.term}}</strong> - {{term.definition}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{term.speciality}}
                </span>
            </div>
        </li>
        </ul>
        </div>
{% endfor %} 
</ul> 
</div>   
{% endblock %} 

 